body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-family: "Microsoft Yahei", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
body:focus,
div:focus,
span:focus,
header:focus,
footer:focus,
nav:focus,
section:focus,
aside:focus,
article:focus,
ul:focus,
dl:focus,
dt:focus,
dd:focus,
li:focus,
a:focus,
p:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
i:focus,
b:focus,
textarea:focus,
button:focus,
input:focus,
select:focus,
figure:focus,
figcaption:focus {
  outline: none;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}
textarea {
  -webkit-appearance: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
.fillcontain {
  height: 100%;
  width: 100%;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.clear {
  zoom: 1;
}
.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.margin {
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  font-size:18px;
  color: #b4b8bd;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #ffffff;
  font-size:18px;
}

.crumb {
  font-size:18px;
  color:#ffffff;
  margin-top:20px;
  margin-bottom: 20px;
}

.el-divider {
  background-color: #dcf2ff;
}

.button_img_size {
  width: 21px;
  height: 18px;
}

.el-pagination {
  padding-top:20px;
}

.el-pagination .el-pagination__total {
  margin-left:18px;
  margin-right: 0;
  font-size:16px;
  color:#ffffff;
}

.el-pagination .el-icon-arrow-left:before {
  content: "\E6E1 上页";
}

.el-pagination .el-icon-arrow-right:before {
  content: '\E6DF 下页';
}

.el-pagination button, .el-pagination span:not([class*=suffix])  {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
}

.el-pagination .btn-next, .el-pagination .btn-prev {
  font-size:16px;
  color: #0c7df0;
  margin:0;
  padding-left:10px; 
  padding-right:10px;
}

.el-table__body {
  font-size:16px;
  columns: #333333;
}

.el-pagination .btn-prev {
  margin-right:18px;
}

.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon {
  font-size:16px;
}

.el-button {
  border-radius: 0;
}

.el-container {
  width: 100% !important;
  height: calc(100vh - 86px) !important;
}

.el-main {
  display: flex !important;
}

.el-row {
  margin-bottom: 20px;
}

.el-col {
  border-radius: 4px;
}

body {
  scrollbar-width: 3px
}